/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #69DC70;
  background-image: linear-gradient(#69DC70, #7CF4B7);
  background-size: cover;
  /* height: 100vh;
  width: 100vw; */
}